@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --dark-colr: #1f2734;
  --light-dark: #141e30;
  --font: 18px 'Arima', sans-serif;
}
.alarm-div::-webkit-scrollbar {
  width: 15px;
}
.alarm-div::-webkit-scrollbar-thumb {
  background-color: var(--dark-colr);
  border-radius: 5px;
}

body {
  background: linear-gradient(90deg, var(--light-dark), #2c4b6e);
  color: white;
  display: flex;
  justify-items: center;
  align-content: center;
  font: var(--font);
  height: 100svh;
  overflow: hidden;
}
.continer-div {
  display: flex;
  justify-content: space-around;
  align-self: center;
  margin: auto 20px;
  width: 100%;
  background-color: #e6e8ef;
  color: var(--light-dark);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 1px 0 rgba(228, 228, 228, 0.1);
}
.continer-div .time-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  margin: auto;
  position: relative;
}
.time-div input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--light-dark);
  font: var(--font);
  cursor: pointer;
}
.time-div input:focus {
  border: 1px solid var(--dark-colr);
  outline: none;
}

.time-div button {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--light-dark);
  font: 16px 'Arima', sans-serif;
  background-color: var(--light-dark);
  color: white;
  cursor: pointer;
}
.time-div button:hover {
  background-color: var(--dark-colr);
}
#time-input {
  font: 16px 'Open Sans', sans-serif;
  border: 1px solid var(--light-dark);
  outline: var(--light-dark);
}

.hidden {
  display: none;
}
.alarm-div {
  background-color: #a9b0c6;
  margin: 10px 20px;
  padding: 10px 10px;
  border-radius: 5px;
  max-height: 220px;
  min-width: 310px;
  overflow-y: scroll;
}
.alarm-div .alarm-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  background-color: #f8f9fa;
  margin: 10px 0;
  position: relative;
}

.fa-solid {
  font-size: 18px;
}
.fa-solid:hover {
  cursor: pointer;
}

.alarm-time {
  position: relative;
  font: var(--font);
  font-weight: 600;
}

.toggle {
  width: 40px;
  height: 20px;
  border-radius: 20px;
  background-color: var(--dark-colr);
  position: relative;
  cursor: pointer;
  border: 2px solid var(--dark-colr);
  display: inline-block;
}
.toggle::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 20px;
  transition: background-color 0.3s;
}

.toggle::after {
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: aliceblue;
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  transition: left 0.3s;
}

.toggle.active {
  background-color: #4caf50;
  border: 2px solid #4caf50;
}
.toggle.active::after {
  left: 20px;
}

@media screen and (max-width: 768px) {
  .continer-div {
    display: grid;
  }
}
